.footer{
    margin-top: 110px;
    border-top: 1px solid black;
    width: 500px;
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content:space-between;

    
}
.footer__next{
   display:block;
   margin:10px 0;
   margin-top:15px;
   margin-right:10px;
   text-align:  right;
   background-color:transparent;
    color: rgb(26,147,213);
    background-image: url("../../img/arrow_forward.png");
    background-repeat:no-repeat;
    background-position:right 1px;
    background-size:contain ;
    padding-right: 20px;

}

 .footer__next:active{
    transform: translateX(3px);

 }
 .footer__next:disabled{
    color:grey;
    
 }
.footer__past{
    display:block;
    margin:10px 0;
    margin-top:15px;
    margin-left: 15px;
    text-align:  left;
    background-color:transparent;
    color: rgb(26,147,213);
    background-image: url("../../img/arrow_back.png");
    background-repeat:no-repeat;
    background-position:left 1px;
    background-size:contain ;
    padding-left: 20px;
 }

 .footer__past:active{
    transform: translateX(-3px);

 }
